:root {
    --main-accent-color: #E6538E;
}

body {
    box-sizing: border-box;
}

textarea {
    font-family: 'Audiowide', cursive;
    box-sizing: border-box;
    border: none;
    resize: none;
}

.controls {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 50px;
}